.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -30px;
  margin-left: -30px;
}

.clients-list__item {
  margin-left: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 2 - 30px);
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients-list__link {
  display: flex;
  box-sizing: border-box;
  @extend %align;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 5px;
  fill: var(--icon_grey);
  background-color: var(--white);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    fill: var(--blue);
    border: 1px solid var(--blue);
  }
  @media screen and (min-width: 1200px) {
    max-width: 170px;
  }
}

.clients-list__icon {
  @extend %align;
  margin: 16px 32px;
}
