.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
}

.clients-list__button {
  padding: 16px 32px;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 5px;
  fill: var(--icon_grey);
  background-color: var(--white);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    fill: var(--blue);
    border: 1px solid var(--blue);
  }
}

.clients-list__icon {
  @extend %align;
}

.clients-list__item:not(:last-child) {
  padding-right: 30px;
}
