.logo {
  color: var(--black);
  font-family: raleway;
  @include font(700, 26px, 1.19);
  text-decoration: none;
  font-style: normal;
}

.logo_blue {
  color: var(--blue);
}

.header {
  @media screen and (min-width: 480px) {
    // max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.header-border {
  border-bottom: 1px solid #ececec;
}

.header-container {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    padding: 26px 15px;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 215px;
  }
}

.nav {
  font-style: normal;
  @include font(500, 14px, 1.71, 0.02em);
}

.nav.list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav .link {
  color: var(--dark_text);
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--blue);
  }
  &.current {
    color: var(--blue);
    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 4px;
      bottom: 0px;
      background-color: var(--blue);
      border-radius: 2px;
    }
  }
}

.contacts .link {
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--blue);
  }
}

.contacts.list {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 93px;
  }
}

.contacts-center {
  display: flex;
  align-items: center;
}

.contacts__mail {
  margin-bottom: 10px;
}

.contacts__mail_icon {
  display: inline-block;
  content: "";
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.contacts__tel {
}

.contacts__tel_icon {
  display: inline-block;
  content: "";
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.contacts .link {
  color: var(--grey);
}

.mob-menu__open,
.mob-menu__close {
  width: 40px;
  height: 40px;
  fill: var(--black);
  display: flex;
  @extend %align;
  border: none;
  background: transparent;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    fill: var(--blue);
  }
}

.mob-menu__close {
  position: relative;
  right: -25px;
  top: -100px;
}

.mob {
  position: absolute;
  background-color: var(--white);
  width: 100vw;
  height: 100vh;
  top: 0;
  padding: 48px 40px;
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  .mob-menu__link {
    color: var(--dark_text);
    text-decoration: none;
    @include font(500, 40px, 1.17, 0.02em);
    &:hover,
    &:focus {
      color: var(--blue);
    }
    &.current {
      color: var(--blue);
    }
  }
}

.mob-contacts {
  margin-top: auto;
}

.mob-contacts__list {
  margin-bottom: 64px;
}

.mob-contacts__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  .mob-contacts__link {
    text-decoration: none;
    color: var(--grey);
    @include font(500, 24px, 1.16, 0.02em);
    &:hover,
    &:focus {
      color: var(--blue);
    }
  }
  &:first-child .mob-contacts__link {
    font-size: 34px;
  }
}

.mob-social__list {
  display: flex;
}

.mob-social__item {
  &:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mob-social__link {
  text-decoration: none;
  color: var(--blue);
  @include font(500, 18px, 1.22, 0.02em);
}
