.services {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.services-list {
  display: flex;
}

.services-list__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.services-list__block {
  @extend %align;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  mix-blend-mode: normal;
  position: absolute;
  bottom: 0px;
  .header3 {
    color: var(--white);
  }
}
